body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  text-align: center;
  text-decoration-color: chocolate;
}

.card{
  margin: 0%;
  padding: 0%;
  border:1px solid burlywood;
  text-align: center;
  float: left;
  margin-left: 100px;
  margin-right: 100px;
}

.cards{
  text-align: center;
}